/* 
css syntax

selector {
    property: value;
}

for classes use dot(.)
for id use (#)

*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
}


#nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
    /* padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 50px;
    padding-left: 50px; */

    padding: 20px 50px;

}

.navlinks a{
    color: #242d52;
    margin: 0 20px;
    font-weight: 600;
}

.navlinks a:hover{
    color: #727272;
}

.getStartedButton a{
    color: #fff;
    background-color: #F3603C;
    padding: 10px 18px;
    border-radius: 50px;
    font-weight: 600;
}

.getStartedButton a:hover{
    box-shadow:2px 2px 16px rgb(187, 187, 187)
}

#twocolumn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 150px 50px 150px;    
}

.letter{
    width: 40%;
    margin-right: 13rem;
}

.letter h1 {
    font-size: 40px;
    color: #242d52;
    margin-bottom: 20px;
}

.letter p {
    font-size: 14px;
    color: gray;
    margin-bottom: 20px;
}

.letter a {
    color: #fff;
    background-color: #F3603C;
    padding: 10px 15px;
    border-radius: 50px; 
}

.rightimage img{
    width: 80%;
    
}
#secondsection{
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding:  100px 100px 50px 150px;
}

.letteronly{
    width: 100%;
    margin-right: 13rem;
}

.letteronly h1{
    font-size: 30px;
    color: #242d52;
    margin-bottom: 20px;
}

.letteronly p{
    font-size: 13px;
    color: gray;
    
}

.nosletters {
    width: 100%;
}

.nosletters .p1{
    padding: 2px 18px;
    background-color: #F3603C;
    color: #fff;
    border-radius: 50px;

}

.nosletters h3{
    margin-left: 10px;
}

.nosletters .p2{
    margin-left: 4rem;
    font-size: 12px;
    margin-top: 10px;
    color: gray;
}

.pandh3{
    display: flex;
}
#thirdsection{
    display: list-item;  
}






.combinational{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.line1{
    text-align: center;
    color: #242d52;
    margin-bottom: 4rem;
}

.testimonial1{
    background-color: #e0e0e0;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
}

.img1, .img2, .img3, .img4{
    width: 20%;
    height: 20%;
    margin: auto;
}

.name1{
    color: #242d52;
    font-size: 15px;
    margin: 1rem 0;
}

.para1{
    color: #242d52;
    font-size: 14px;
}

.linetwo{
    width: 8%;
    margin: 3rem auto;
    color: #fff;
    cursor: pointer;
    background-color: #F3603C;
    padding: 10px 18px;
    border-radius: 50px;
    font-size: 12px;
}





#fourthsection{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FF4213;
    padding: 20px 150px;
    position: relative;
}

.firstline{
    position: relative;
}

.fourthsectionImg{
    position: absolute;
    top: -70%;
    width: 80%;
    z-index: 2;
    left: 28%;
}

.boldline{
    width: 80%;
    font-size: 30px;
    color: #fff;
}

.button{
    padding: 10px 20px;
    color: #F3603C;
    background-color: #fff;
    border-radius: 50px;
}

#fifthsection{
    display: flex;
    align-content: center;
    justify-content: space-between;
    background-color: #1D1E25;
    padding: 30px;
    position: relative;
    z-index: 10;
}

.whitelogo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.whitelogo a{
    color: #fff;
}

.icons{
    display: flex;
    gap: 10px;
    margin-top: 2rem;
}

.downlinks{
    display: flex;
    gap: 18rem;
}

.downlinks1 a, .downlinks2 a{
    color: #fff;
    display: block;
    padding: 5px 0;
    
}

.paras {
    color: #fff;
    text-align: center;
}

input[type="text"]{
    color: #242d52;
    background-color: #fff;
    border-radius: 50px;
    padding: 3px 10px;
    font-size: 14px;
    border: none;
}

input[type="button"]{
    background-color: #F3603C;
    border-radius: 50px;
    padding: 2px 20px;
    font-size: 14px;
    color: #fff;
    border: none;
    margin-left: 5px;
}

.paras12{
    display: flex;
}

.paras3{
    margin-top: 1rem;
    font-size: 12px;
}

