/* 
css syntax

selector {
    property: value;
}

for classes use dot(.)
for id use (#)

*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
}


#nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
    /* padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 50px;
    padding-left: 50px; */

    padding: 20px 50px;

}

.navlinks a{
    color: #242d52;
    margin: 0 20px;
    font-weight: 600;
}

.getStartedButton a{
    color: #fff;
    background-color: #F3603C;
    padding: 10px 18px;
    border-radius: 50px;
    font-weight: 600;
}

#twocolumn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 150px 50px 150px;
    
}
.letter{
    width: 40%;
    margin-right: 13rem;
}

.letter h1 {
    font-size: 40px;
    color: #242d52;
    margin-bottom: 20px;
}

.letter p {
    font-size: 14px;
    color: gray;
    margin-bottom: 20px;
}
.letter a {
    color: #fff;
    background-color: #F3603C;
    padding: 10px 15px;
    border-radius: 50px;
    
}

.rightimage img{
    width: 80%;
    
}
#secondsection{
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding:  100px 100px 50px 150px;
    
}

.letteronly{
    width: 100%;
    margin-right: 13rem;
}

.letteronly h1{
    font-size: 30px;
    color: #242d52;
    margin-bottom: 20px;
}

.letteronly p{
    font-size: 13px;
    color: gray;
    
}

.nosletters {
    width: 100%;
}

.nosletters .p1{
    padding: 2px 18px;
    background-color: #F3603C;
    color: #fff;
    border-radius: 50px;

}

.nosletters h3{
    margin-left: 10px;
}

.nosletters .p2{
    margin-left: 4rem;
    font-size: 12px;
    margin-top: 10px;
    color: gray;
}

.pandh3{
    display: flex;
}

#thirdsection{
    display: list-item;
    align-items: center;
    justify-content: space-between;
    
}

.line1{
margin-left: 40rem;
color: #242d52;
margin-bottom: 4rem;
}

.imgh3p img{
    width: 50px;
    margin-left: 10rem;
    margin-bottom:22px ;
    height: 60px;
    
}
.firsth{
    margin-left: 9rem;
    font-size: 15px;
    color: #242d52;
    margin-bottom: 22px;
    
    
}
.para{
    margin-left: 9rem;
    color: #242d52;
    font-size: 14px;
    margin-bottom: 8rem;
    width: 300px
    
}
.lasth{
    margin-left: 45rem;
    color: #fff;
    background-color: #F3603C;
    padding: 2px 30px;
    border-radius: 30px;
    font-size: 13px;
    width: 100px;
    




}